agent:
  metadata:
    agent_name: "{{ redis_agent_name | default('dsk-redis-agent') }}"
    cluster_id: "{{ redis_agent_cluster | default('unknown') }}"
  option:
    external_labels:
      redis: {{ reids_address }}
    exporter_config:
      command: "/usr/bin/dsk-redis-exporter"
      port: {{ redis_agent_port | default('19121') }}
      args:
      {% if ((redis_user) and (redis_pass)) %}
        - --redis.addr=redis://{{ redis_user }}:{{ redis_pass }}@{{ redis_address }}
      {% else %}
        - --redis.addr=redis://{{ redis_address }}
      {% endif %}
    scrape_configs:
      - job_name: dsk-redis-agent
        url: "localhost:{{ redis_agent_port | default('19121') }}"